modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 5002
externalPort = 3002

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist"

[userenv]

[userenv.shared]
VITE_FIREBASE_API_KEY = "AIzaSyBaEZp1SaIqU5kdSAPsBnh-5UbEyCKhsgg"
VITE_FIREBASE_AUTH_DOMAIN = "fir-console-a5e12.firebaseapp.com"
VITE_FIREBASE_DATABASE_URL = "https://fir-console-a5e12-default-rtdb.asia-southeast1.firebasedatabase.app"
VITE_FIREBASE_PROJECT_ID = "fir-console-a5e12"
VITE_FIREBASE_STORAGE_BUCKET = "fir-console-a5e12.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID = "373306163178"
VITE_FIREBASE_APP_ID = "1:373306163178:web:148f216771d6ffec44fc93"
VITE_FIREBASE_MEASUREMENT_ID = "G-7KFLKZZWD8"
